<div class="container bg-light p-4">
    <div class="row">
        <div class="col-7 m-auto">
            <h1 class="text-center">Cadastro de Alunos</h1>
            <form [formGroup]="formGroupStudent">
              
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" 
                    id="nome" 
                    formControlName="name"
                    />
                    <small *ngIf="name.touched && name.hasError('minlength')" class="text-danger"> *O nome tem que ter no mínimo 3 caracteres</small>
                    <small *ngIf="name.touched && course.hasError('required')"class="text-danger"> *O nome é requirido!</small>

                </div>

                <div class="mb-3">
                    <label for="nome" class="form-label">Curso</label>
                    <input type="text" class="form-control" 
                    id="none" 
                    formControlName="course"/>
                    <small *ngIf="course.touched && course.hasError('required')"class="text-danger"> *O curso é requirido!</small>
                </div>
                <button type="submit"
                 class="btn btn-primary"
                 [disabled]="!formGroupStudent.valid"
                 (click)="save()">
                 Salvar</button>
            </form>
            <h2 class="mt-5 text-center">Alunos:</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Curso</th>
                        <th class="d-flex justify-content-end" scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <th scope="row">{{student.id}}</th>
                        <td>{{student.name}}</td>
                        <td>{{student.course}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-danger me-2" (click)="delete (student)">Remover</button>
                            <button class="btn btn-primary" (click)="edit(student)">Alterar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
